body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: rgb(209, 196, 235);
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-columns: repeat(8, 1fr);
}
