:root {
  /* Colours */
  --pale_yellow: #feff9c;
  --pink: #ff7eb9;
  --blue: #7afcff;
  --green: #cdfc93;
  --purple: #d2ccf2;
  --pale_pink: #ffa6c1;
  --yellow: #feff68;
  --pale_blue: #e4eeff;
  --indicator_green: #33ff57;
  --indicator_yellow: #fffe33;
  --indicator_red: #ff3333;
  /* Box shadows */
  --box_shadow_1: 10px 10px 13px 2px rgba(46, 46, 46, 0.67);

  /* Fonts */
  --form_font: "Noto Sans Georgian", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.app {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 6% auto 6%;
  grid-template-columns: 4% 20% 6% 66% 4%;

  background: linear-gradient(
      0deg,
      rgba(104, 104, 104, 0.4),
      rgba(70, 70, 70, 0.4)
    ),
    url(https://cdn.pixabay.com/photo/2024/04/08/01/23/brick-8682461_640.jpg);
}
