body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.app {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 6% auto 6%;
  grid-template-columns: 4% 20% 6% 66% 4%;

  background: linear-gradient(
      0deg,
      rgba(104, 104, 104, 0.4),
      rgba(70, 70, 70, 0.4)
    ),
    url(https://cdn.pixabay.com/photo/2024/04/08/01/23/brick-8682461_640.jpg);
}
