.colourBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90%;
  height: 28%;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid black;
}
