.priorityBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.priority {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid black;
}

.box {
  width: 3.8rem;
  height: 3.8rem;
  border: 3px solid rgb(164, 164, 164);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fbff;
  margin: 0.3rem;
}

.selected {
  border: 3px solid black;
}

.Low {
  background-color: var(--indicator_green);
}

.Medium {
  background-color: var(--indicator_yellow);
}

.High {
  background-color: var(--indicator_red);
}

.Alert {
  background-color: var(--indicator_red);
}

.Alert,
.Alert::before {
  content: " ";
  margin: 15px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s;
  background-color: var(--indicator_red);
}

.Alert::before {
  animation: mymove 2s infinite;
  position: absolute;
  background-color: #f3c4b4;
}

@-webkit-keyframes mymove {
  50% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
